fastapi==0.115.5
uvicorn[standard]==0.32.1
sqlalchemy==2.0.36
psycopg2-binary==2.9.10
pydantic==2.10.3
pydantic-settings==2.6.1
PyJWT==2.10.1
temporalio==1.8.0
httpx==0.28.1
confluent-kafka==2.5.3
opentelemetry-sdk==1.27.0
opentelemetry-exporter-otlp-proto-http==1.27.0
opentelemetry-instrumentation-fastapi==0.48b0
prometheus-fastapi-instrumentator==7.0.0
setuptools==75.6.0
pytest==8.3.4
